
			<div class="container-fluid green mh_bb">
				<div class="container no-padding">
					<div class="collapse navbar-collapse no-padding" id="hm-nav">
					  <ul class="nav nav-pills  navbar-haomei white-text">
					    <li><a href="__APP__/Index/index" class="{$d_shouye}">首页</a></li>
						<li><a href="__APP__/Xianhuoziyuan/product" class="{$d_xianghuoziyuan}">现货资源</a></li>
						<li><a href="__APP__/Caigouxinxi/demand" class="{$d_caigouxinxi}">采购信息</a></li>
					    <li><a href="__APP__/Zuixinzixun/hangqing" class="{$d_meishihangqing}">最新资讯</a></li>
					 <li><a href="__APP__/Zhaomeiwuliu/wuliuziyuan" class="{}">找煤物流</a></li>
							<!--<li><a href="__APP__/Meishixinxi/cangchu" class="{$d_wuliucangchu}">物流仓储</a></li>
						<li><a href="__APP__/Meishixinxi/jiage" class="{$d_zhishujiage}">指数及价格</a></li> -->
						<li><a href="__APP__/Gongsijieshao/jieshao" class="">关于我们</a></li>
					 </ul>
					</div>
				</div>
			</div>
		