

		
<footer class="mintcx_footer">

			<div class="foot-links" >
				<div class="container">
					<div class="row foot-link-bd">
						<div class="col-md-2">
							<a href="__APP__/Index/index">
								<img class="logo_img" src="__PUBLIC__/mei/picture/logo1.png" alt=""  >
							</a>
						</div>
                        
						 <div class="col-md-8">
							<div class="row no-padding no-margin">
								<div class="col-md-3 col-xs-6 xd_dl">
									
									<dl class="foot_list">
									<dt>
									<i class="fa fa-group"></i>
									关于我们
									</dt>
									<dd> 公司介绍</dd>
									
									</dl>
								</div>
								
								<div class="col-md-3 col-xs-6 xd_dl">
									
								
								</div>
							</div>
						</div>		 
				</div>			
			</div>			
		</div>			
		</footer>
		<br/><br/><br/>