

		
<footer class="mintcx_footer">

			<div class="foot-links" >
				<div class="container">
					<div class="row foot-link-bd">
						<div class="col-md-2" style="margin-right:50px;">
							<a href="__APP__/Index/index">
								<img class="logo_img" src="__PUBLIC__/mei/picture/logo1.png" alt=""  >
							</a>
						</div>
                        
						 <div class="col-md-8">
							<div class="row no-padding no-margin">
								<div class="col-md-3 col-xs-6 xd_dl">
									
									<dl class="foot_list">
									<dt>
									<i class="fa fa-group"></i>
									最新资讯
									</dt>
									<dd> <a href="__APP__/Zuixinzixun/zixun"> 煤市资讯 </a></dd>
									<dd> <a href="__APP__/Zuixinzixun/hangqing">煤市行情</a></dd>
									<dd> <a href="__APP__/Zuixinzixun/cangchu">物流仓储</a></dd>
									<!-- <dd> 指数及价格</dd> -->
									
									</dl>
								</div>
								
								<div class="col-md-3 col-xs-6 xd_dl">
									<dl class="foot_list">
									<dt>
									<i class="fa fa-group"></i>
									找煤物流
									</dt>
									<dd><a href="__APP__/Zhaomeiwuliu/wuliuziyuan"> 物流运力</a></dd>
									<dd><a href="__APP__/Zhaomeiwuliu/huowuziyuan"> 货源信息</a></dd>
									<dd><a href="__APP__/Zhaomeiwuliu/hezuo"> 我要合作</a></dd>
									
									</dl>
								
								</div>
								<div class="col-md-3 col-xs-6 xd_dl">
									<dl class="foot_list">
									<dt>
									<i class="fa fa-group"></i>
									找煤金融
									</dt>
									<dd><a href="__APP__/Zhaomeijinrong/shenqing">快速申请</a></dd>
									<dd><a href="__APP__/Zhaomeijinrong/jinrongchanpin">金融产品</a></dd>
									<dd><a href="__APP__/Zhaomeijinrong/shenqingliucheng">申请流程</a></dd>
									<!-- <dd> 准备材料</dd> -->
									
									</dl>
								
								</div>
								<div class="col-md-3 col-xs-6 xd_dl">
									<dl class="foot_list">
									<dt>
									<i class="fa fa-group"></i>
									关于我们
									</dt>
									<!-- <dd> 公司简介</dd> -->
									<dd><a href="__APP__/Gongsijieshao/wuliufuwu"> 公司简介</a></dd>
									<!-- <dd><a href="__APP__/Gongsijieshao/wuliufuwu"> 物流服务</a></dd> -->
									<dd><a href="__APP__/Gongsijieshao/cangchufuwu">仓储服务</a></dd>
									<dd><a href="__APP__/Gongsijieshao/jinrongfuwu"> 金融服务</a></dd>
																	</dl>
								
								</div>
								
								
							</div>
						</div>		 
				</div>			
			</div>			
		</div>
		
		
		<div class="row">
						<div class="col-md-12">
							<div class="copyright">
								<div class="foot-bar">
									 <a  href="__APP__/Index/index" >首页</a> |
    	    	            	    <a  href="__APP__/Gongsijieshao/jieshao" >公司简介</a> |
									<a href="__APP__/Xianhuoziyuan/product">现货资源</a> |
									<a href="__APP__/Caigouxinxi/demand">采购信息</a> |
									<a href="__APP__/Zhaomeijinrong/shenqing">快速申请</a> |
								    <a href="__APP__/Gongsijieshao/jieshao">关于我们</a> 
								    
								</div>
								<div>
								<p>
									© 2016 - 2025 燃石网 版权所有（<a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action
">京ICP备16005680号
</a>）
								</p>
								
								</div>
								
								
								<style type="text/css">
									.foot-bar {
									  border-top: 1px solid #e9e7e4;
									  height: 40px;
									  text-align: center;
									  line-height: 48px;
									  font-weight: bold;
									}
									.foot-bar a {
									  color: #000000;
									  padding: 0 1px 0 2px;
									}									
									.foot-copy .ba {
									  height: 70px;
									  line-height: 70px;
									}
									.foot-copy .ba a {
									  margin-right: 10px;
									  -webkit-transition: all 0.3s ease 0s;
									  -moz-transition: all 0.3s ease 0s;
									  -o-transition: all 0.3s ease 0s;
									  transition: all 0.3s ease 0s;
									  opacity: 1;
									  filter: alpha(opacity=100);
									}
									.foot-copy .ba a:hover {
									  opacity: 0.8;
									  filter: alpha(opacity=80);
									}
								</style>
								
							
							</div>
						</div>
					</div>
								
		</footer>
		<br/><br/><br/>