<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		
		
		
		<script src="__PUBLIC__/mei/js/jquery.min.js"></script>
		<!-- Bootstrap -->
		<!-- 导航条的样式 -->
		<link href="__PUBLIC__/mei/css/bootstrap.css" rel="stylesheet">		
		<link href="__PUBLIC__/mei/css/color.css" rel="stylesheet">
		<link href="__PUBLIC__/mei/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link href="__PUBLIC__/mei/css/font-awesome.min.css" rel="stylesheet">
		<link href="__PUBLIC__/mei/css/haomei.css" rel="stylesheet">
		
   </head>
<body>
<div class="container-fluid nav-logo">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<a href="__APP__/Index/index"><img class="logo_img" src="__PUBLIC__/mei/picture/toplogo.png" alt="" width="535" height="85" style="margin-top: 10px;margin-bottom: 5px;"></a>
						</div>
					</div>	
					
				</div>
</div>
</body>
</html>