@charset "utf-8";
.jyd-ad{
	margin:14px 0; 
}
/* 快速通道 b */
.d-quickandlogin{
	margin-top: 14px
}
.d-quickandlogin .content{
	border:1px solid #dadada;
}
.d-quickway{
	padding: 32px 17px;
}
.d-quick-links{
	margin-top: 15px;
}
.d-quick-links a,
.d-quick-links i,
.d-quick-links em{
	display: block;
}
.d-quick-links a{
	position: relative;
	width: 253px;
	height: 32px;
	margin-top: 10px;
	margin-right: 15px;
	padding: 13px 0 14px;
	float: left;
	line-height: 32px;
	text-indent: 79px;
	font-size: 22px;
	color: #43b3e6;
	border:1px solid #dadada;

}
.d-quick-links a.mr{
	margin-right: 0;
}
.d-quick-links i{
	position: absolute;
	left: 26px;
	top:14px;
	width: 32px;
	height: 32px;
	background: url(../images/icon.png) no-repeat;
}
.d-quick-links i.icon01{
	background-position: 0 -320px;
}
.d-quick-links i.icon02{
	background-position: 0 -463px;
}
.d-quick-links i.icon03{
	background-position: 0 -358px;
}
.d-quick-links i.icon04{
	background-position: 0 -495px;
}
.d-quick-links i.icon05{
	background-position: 0 -396px;
}
.d-quick-links i.icon06{
	background-position: 0 -530px;
}
.d-quick-links i.icon07{
	background-position: 0 -431px;
}
.d-quick-links i.icon08{
	background-position: 0 -567px;
}
.d-quick-links em{
	position: absolute;
	right: -1px;
	top: -1px;
	padding: 18px 10px;
	background: #43b3e6;
}
.d-quick-links em p{
	width: 25px;
	height:25px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0 -605px;
}
.d-quick-links a:hover em{
	background: #006acd
}
/* 快速通道 e */

/* 登录系统 b */
.d-loginup{
	width: 331px;
	padding: 30px 17px 60px;
}
.d-loginup dl{
	width: 331px;
	text-align: center;
}
.d-loginup dt{
	margin: 46px auto 0;
	width: 87px;
	height: 86px;
	background: url(../images/net-headimg.png) no-repeat;
}
.d-loginup dd.btn{
	margin: 24px auto 42px;
	width: 137px;
	height: 34px;
	line-height: 34px;
	font-size: 20px;
	background: #77bd02;
	border-radius: 10px;
}
.d-loginup dd.btn:hover{
	background: #609900
}
.d-loginup dd.ps{
	font-size: 16px;
	color: #6e6e6e;
}
.d-loginup dd.ps a{
	color: #43b3e6
}
.d-loginup dd.btn a{
	color: #ffffff;
}
/* 登录系统 e */

/* 产业链金融b */
.f_qydt{
	border:1px solid #dadada;
}
.f_cyl span.f_cyl_n{
	 padding:0px 20px;
	 border-width: 0 1px 0px 0px;
     border-style: dashed;
     border-color: #393939;
}
.f_cyl span.f_cyl_n1{
	 padding:0px 0px 0px 20px;
}
.f_cyjr_n{  
	padding: 27px 17px 21px;
	}
.f_cyjr_up{
	 margin:0px 0px 20px 0px; 
	 padding:0;
	 height:261px;
}
.f_cyjr_c{
	float:left;
	width:257px;
	height:261px;
	margin-right:12px;
	position:relative;
	overflow:hidden;
}
.f_cyjr_up .f_cyjr_c.mr0{
	margin-right:0px;
}
.f_cyjr_o{
	width:144px;
	height:144px;
	position:absolute;
	left:53px;
	top:60px;
	}	
.f_layeron{
	position: absolute;
	left: 0;
	top: 261px;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	
	
}
.f_layer-cons{
	position: absolute;
	left: 0;
	top: 261px;
	width: 100%;
	height: 100%;
	color:#fff;
	
}
.f_cyjr_text{
	height:246px;
	overflow:hidden;
	padding-bottom:15px;
	display:block;
	width:257px;
	text-align: justify;
}
.f_cyjr_text h3{
	padding-top:35px;
	padding-bottom:15px;
	font-size:20px;
	text-align:center;
}
.f_cyjr_text p{
	padding:0 35px;
	font-size:14px;
	line-height:24px;
}
.f_cyjr_down{
	width:1063px;
	border:1px solid #FFBE3F;
	height:auto;
	}
.f_hz_title{
	color:#43B3E5;
	height:60px;
	line-height:60px;
	}
.f_hz_border{
	float:left;
	width:383px;
	height:1px; 
	background-color:#43B3E5;
	margin-top:29px;
}	
.f_hz_name{
	float:left;
	padding:0px 10px;
	font-size:18px;
	font-weight:bold;
}
.f_cyjr_hz{
	width:862px;
	padding:0px 10px 0px 13px;
	float:left;
	}
.f_cyjr_sq{
	position:relative;
	width:130px;
	float:left;
	background-color:#FFBE3F;
	height:100%;
	padding-left:20px;
	padding-right:28px;
	}
.f_cyjr_sq a.f_button_bj{background:url(../images/f_jr5.png) no-repeat 0px 10px;}
	
.f_cyjr_sq a{
	position:absolute;
	top:50%;
	left:20px;
	width:90px;
	margin-top:-27px;
	font-size:20px;
	color:#C51F23;
	font-weight:bold;
    padding-left:49px;
	display:block;
	}	
.f_cyjr_sq a:hover{
	width:90px;
	font-size:20px;
	color:#C51F23;
	font-weight:bold;
    padding-left:49px;
	display:block;
	text-decoration:underline;
	}			
.f_partner{
	margin:0;
	padding:0;
}
.f_partner li{
	width:117px;
	float:left;
	margin:0px 4px 8px 0px;
	border:1px solid #E5E5E5;
}	
/* 产业链金融e */

/* 监管仓库 b */
.d-warehouse{
	margin:14px 0;
}
.d-warehouse .content{
	border:1px solid #dadada;
}
.d-warehouse-con{
	padding: 27px 0 30px 17px;
}
/* 监管仓库 e */

/* 融资品种 b */
.d-rzpz{
	margin:14px 0;
}
.d-rzpz .content{
	border:1px solid #dadada;
}
.d-rzpz-con{
	padding: 25px 17px;
}
.d-rzpz-con dl{
	text-align: center;
	float: left;
	margin-right: 8px;
	border:1px solid #dadada;
}
.d-rzpz-con dt{
	width: 143px;
}
.d-rzpz-con dd{
	font-size: 16px;
	color: #3d3d3d;
	line-height: 48px;
}
.d-rzpz-con dl.last-dl{
	margin:0;
}
/* 融资品种 e */